PORT=3000
DEV_FORCE_OPEN=false
DEV_FORCE_LINK=false

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=fixspotify
DB_USER=postgres
DB_PASS=


SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=

CLOUDFLARE_ANALYTICS_TOKEN=

